<?xml version="1.0" ?>
<robot name="wall1_beta">
  <!-- 必须显式定义world link -->
  <link name="world">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <link name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="500.0"/>
      <inertia ixx="376.666667" ixy="0" ixz="0" iyy="541.666667" iyz="0" izz="168.333333"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wall1_beta.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wall1_beta.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>

  <joint name="fixed_joint" type="fixed">
    <parent link="world"/>
    <child link="baseLink"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>